* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.header {
  height: 5rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
  z-index: 2;
  position: relative;
}

.bgImgCenter {
  position: absolute;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  left: 50%;
  margin-left: -4rem;
  margin-top: 4rem;
  z-index: 3;
}

.bgImgCenterBG {
  position: absolute;
  background: white;
  background-size: cover;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  left: 50%;
  margin-top: -3.5rem;
  margin-left: -7rem;
  box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.3);
  z-index: -3;
}

.links-div {
  float: right;
  right: 0.5rem;
  height: inherit;
  background: white;
}

.links-div a {
  color: black;
  padding: 1.75rem 1.5rem;
  display: inline-block;
  height: inherit;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
  margin-right: -4px;
  transition: background-color 200ms ease-in-out;
}

.links-div a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.ctaSection {
  color: white;
  background: url(/images/cta1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Titillium Web", sans-serif;
  height: 35rem;
  z-index: 1;
}

.ctaSection h1 {
}

.firstSection {
  background-color: #2a9d8f;
}
