* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.header {
  height: 5rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
  z-index: 2;
  position: relative;
}

.bgImgCenter {
  position: absolute;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  left: 50%;
  margin-left: -4rem;
  margin-top: 4rem;
  z-index: 3;
}

.bgImgCenterBG {
  position: absolute;
  background: white;
  background-size: cover;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  left: 50%;
  margin-top: -3.5rem;
  margin-left: -7rem;
  box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.3);
  z-index: -3;
}

.links-div {
  float: right;
  right: 0.5rem;
  height: inherit;
  background: white;
}

.media-div {
  float: left;
  left: 0.5rem;
  height: inherit;
  background: white;
}

#fb {
  color: rgba(141, 2, 255, 0.7);
}
#snap {
  color: rgba(141, 2, 255, 0.7);
}
#twit {
  color: rgba(141, 2, 255, 0.7);
}
#inst {
  color: rgba(141, 2, 255, 0.7);
}

.links-div a {
  color: rgba(141, 2, 255, 0.7);
  padding: 1.75rem 1.5rem;
  display: inline-block;
  height: inherit;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
  margin-right: -4px;
  transition: background-color 200ms ease-in-out;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.media-div a {
  padding: 1.25rem 1.5rem;
  display: inline-block;
  height: inherit;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  white-space: nowrap;
  margin-right: -4px;
  transition: background-color 200ms ease-in-out;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.links-div a:hover,
.media-div a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ctaSection {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("/images/cta4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Titillium Web", sans-serif;
  height: 90vh;
  z-index: 1;
}

.ctaContent {
  text-align: center;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding-top: 20vh;
}

.ctaContent h1 {
  color: white;
  font-size: 7rem;
  margin-bottom: 4rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.ctaContent a {
  padding: 1rem 3.2rem;
  margin: 0 2rem;
  text-decoration: none;
  min-width: 3rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  transition: 150ms ease-in-out;
  border: rgba(255, 255, 255, 1) 1px solid;
}

.ctaContent a:hover {
  background-color: rgba(141, 2, 255, 0.7);
  box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.15);
}

.firstSection {
  background-color: #e4ecb5;
  margin: 20px 20px;
  height: 33vh;
}
