* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(35, 35, 35);
  overflow-x: hidden;
  overflow-y: scroll;
}
.header {
  height: 5rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

.header a {
  font-family: "Titillium Web", sans-serif;
  color: rgba(141, 2, 255, 0.7);
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  flex: 1;
  align-items: center;
  display: flex;
  align-self: stretch;
  text-align: center;
  justify-content: space-evenly;
  white-space: nowrap;
  padding: 10px;
  transition: 100ms ease-in-out;
  z-index: 2;
}

#fb:hover,
#snap:hover,
#twit:hover,
#inst:hover,
#serv:hover,
#beaf:hover,
#home:hover,
#cont:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#bgImgCenter {
  flex: 5;
  text-decoration: underline;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  cursor: default;
}

#bgImgCenter div {
  border-radius: 50%;
  background-color: white;
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  box-shadow: 0px 12px 6px -8px rgba(0, 0, 0, 0.6);
}

#bgImgCenter div img {
  height: 108%;
  margin-bottom: -1.8rem;
}

#fb {
  color: rgba(141, 2, 255, 0.7);
  font-size: 2rem;
}
#snap {
  color: rgba(141, 2, 255, 0.7);
  font-size: 2rem;
}
#twit {
  color: rgba(141, 2, 255, 0.7);
  font-size: 2rem;
}
#inst {
  color: rgba(141, 2, 255, 0.7);
  font-size: 2rem;
}
#serv {
  color: rgba(141, 2, 255, 0.7);
  font-size: 1.3rem;
}
#beaf {
  color: rgba(141, 2, 255, 0.7);
  font-size: 1.3rem;
}
#home {
  color: rgba(141, 2, 255, 0.7);
  font-size: 1.3rem;
}
#cont {
  color: rgba(141, 2, 255, 0.7);
  font-size: 1.3rem;
}

.ctaSection {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1)
    ),
    url("/images/cta4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Titillium Web", sans-serif;
  height: 92vh;
  z-index: 1;
  display: flex;
}

.ctaContent {
  text-align: center;
  padding-top: 15vh;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#insideLogo {
  display: none;
}

#m_insideLogo img {
  display: none;
}

#ctaHeading {
  display: flex;
  flex-direction: row;
}

#ctaButtons {
  display: flex;
  flex-direction: row;
}

.ctaContent h1 {
  color: white;
  font-size: 7rem;
  margin-bottom: 4rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.ctaContent a {
  padding: 1rem 3.2rem;
  margin: 0 2rem;
  text-decoration: none;
  min-width: 3rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  transition: 100ms ease-in-out;
  border: rgba(255, 255, 255, 1) 2px solid;
  white-space: nowrap;
}
.ctaContent a:hover {
  background-color: rgba(141, 2, 0255, 0.5);
  box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.15);
}

.ctaThreeSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.firstSection {
  font-family: "Titillium Web", sans-serif;
  padding: 0.2rem 0.2rem;
  display: flex;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url("/images/sec2.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  text-align: left;
  padding-left: 6vw;
  color: white;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -1px;
  border-top: white 2px solid;
}

.secondSection {
  font-family: "Titillium Web", sans-serif;
  padding: 0.2rem 0.2rem;
  display: flex;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3)
    ),
    url("/images/sec3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-right: 6vw;
  color: white;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -1px;
  border-top: white 2px solid;
}

.outerSection {
  font-family: "Titillium Web", sans-serif;
  padding: 0.2rem 0.2rem;
  display: flex;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3)
    ),
    url("/images/sec4.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  text-align: left;
  padding-left: 6vw;
  color: white;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
}

#alignmentBuffer1 {
  flex: 5;
}
#alignmentWrapper1 {
  flex: 4;
  flex-direction: column;
  padding-bottom: 2rem;
}

#alignmentBuffer2 {
  flex: 5;
}
#alignmentWrapper2 {
  flex: 4;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 2rem;
}

#alignmentBuffer3 {
  flex: 5;
}
#alignmentWrapper3 {
  flex: 4;
  flex-direction: column;
  padding-bottom: 2rem;
}

.flexSecContent h1 {
  font-size: 3rem;
  flex: 1;
}

.flexSecContent p {
  font-size: 1.1rem;
  max-width: 90%;
  margin-bottom: 2.5rem;
  flex: 1;
}

.flexSecContent a {
  color: white;
  text-decoration: none;
  background: rgba(141, 2, 255, 0.8);
  margin-top: 2rem;
  padding: 0.75rem 3rem;
  font-size: 1.5rem;
  text-align: center;
  flex: 1;
  white-space: nowrap;
  transition: 100ms ease-in-out;
}

.flexSecContent a:hover {
  background: rgba(141, 2, 255, 1);
  box-shadow: 0px 2px 5px black;
}

/* Services Page */

.servicesMain {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 110vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/servicesbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.servicesSec {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.serviceColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.secTopImg {
  background: rgba(255, 255, 255, 1);
  border: rgba(141, 2, 255, 1) 2px solid;
  outline-offset: -30px;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin-bottom: -4rem;
  z-index: 5;
}

.secTopImg h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
}

.secContent {
  display: flex;
  font-family: "Titillium Web", sans-serif;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border: rgba(141, 2, 255, 1) 2px solid;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 1);
  color: white;
  padding: 3rem 1rem;
}

.secContent h2 {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 3em;
  text-align: center;
  text-shadow: 0px 1px 3px black;
}

.secContent ul {
  padding-left: 1rem;
  font-size: 1em;
  max-width: 100%;
  text-shadow: 0px 1px 3px black;
}

.servicesButton {
  display: flex;
  margin-top: 8vh;
  justify-content: center;
  align-items: center;
}

.servicesButton a {
  padding: 2rem 5rem;
  color: white;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  background: rgba(141, 2, 255, 0.432);
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.3);
  transition: 100ms ease-in-out;
  border: 3px solid white;
  text-align: center;
}

.servicesButton a:hover {
  font-size: 2.1rem;
  background: rgba(152, 27, 255, 0.479);
  box-shadow: 0px 0px 24px 12px rgba(255, 255, 255, 0.6);
}

/* Contact Section */

.contactSection {
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 25%;
  padding-right: 25%;
  height: 110vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/servicesbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

.contactBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.8rem;
  /* background: green; */
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
}

.contactMain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
}

.contactForms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  /* background: red; */
  flex: 8;
}

.nameSecs {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}

.firstNameSec {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
}

.lastNameSec {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
}

.contactInfo {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  /* background: blue; */
  flex: 4;
}

/* General Media Queries */

/* Laptop dimensions */

@media screen and (max-width: 1370px) {
  .ctaContent {
    text-align: center;
    padding-top: 6vh;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  #ctaHeading {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    font-size: 4em;
  }

  #ctaButtons {
    display: flex;
    flex-direction: row;
  }
  .header {
    height: 5rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    flex-basis: auto;
  }

  .header a {
    font-family: "Titillium Web", sans-serif;
    color: rgba(141, 2, 255, 0.7);
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    flex: 1;
    align-items: center;
    display: flex;
    align-self: stretch;
    text-align: center;
    justify-content: space-around;
    white-space: nowrap;
    z-index: 2;
    font-size: 0.8em;
  }

  .ctaContent h1 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 4rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .ctaContent a {
    padding: 1rem 3.2rem;
    margin: 0 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    transition: 150ms ease-in-out;
    border: rgba(255, 255, 255, 1) 2px solid;
    white-space: nowrap;
  }

  .flexSecContent h1 {
    font-size: 2rem;
    flex: 1;
  }

  .flexSecContent p {
    font-size: 0.8rem;
    max-width: 90%;
    margin-bottom: 2.5rem;
    flex: 1;
  }

  .flexSecContent a {
    color: white;
    text-decoration: none;
    background: rgba(141, 2, 255, 0.8);
    margin-top: 2rem;
    padding: 0.6rem 2.75rem;
    font-size: 1.2rem;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    transition: 100ms ease-in-out;
  }

  .servicesMain {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    padding-top: 15vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .servicesSec {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50vh;
    align-content: center;
    justify-content: space-evenly;
  }

  .secWrapper {
    display: flex;
    flex: 1;
  }

  .serviceColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* background: rgba(255, 255, 255, 0.3); */
  }

  .secTopImg {
    background: rgba(255, 255, 255, 1);
    border: rgba(141, 2, 255, 1) 2px solid;
    outline-offset: -30px;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-bottom: -5rem;
    z-index: 5;
  }

  .secTopImg h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 6rem;
    text-align: center;
    padding-top: 2rem;
  }

  .secContent {
    display: flex;
    font-family: "Titillium Web", sans-serif;
    flex-direction: column;
    flex-basis: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(141, 2, 255, 1) 2px solid;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 1);
    color: white;
    padding: 3rem 5rem;
  }

  .secContent h2 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 3em;
    text-align: center;
  }

  .secContent ul {
    font-size: 1em;
  }
}

@media screen and (max-width: 1232px) {
  .ctaContent {
    text-align: center;
    padding-top: 6vh;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  #insideLogo {
    display: flex;
    border-radius: 50%;
    border-bottom: white 3px solid;
  }

  #insideLogo img {
    display: none;
  }

  #m_insideLogo img {
    display: flex;
    transform: scale(0.7, 0.7);
    filter: invert(1);
  }

  #m_insideLogo {
    display: flex;
    border-radius: 50%;
    border-bottom: white 3px solid;
  }

  #ctaHeading {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 4em;
  }

  #ctaButtons {
    display: flex;
    flex-direction: row;
  }
  .header {
    height: 5rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
  }

  .header a {
    font-family: "Titillium Web", sans-serif;
    color: rgba(141, 2, 255, 0.7);
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    flex: 1;
    align-items: center;
    display: flex;
    align-self: stretch;
    text-align: center;
    justify-content: space-evenly;
    white-space: nowrap;
    padding: 10px;
    z-index: 2;
  }
  #bgImgCenter {
    display: none;
  }
  #bgImgCenter div {
    border-radius: 50%;
    background-color: white;
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
  }

  #bgImgCenter div img {
    height: 55%;
  }

  .ctaContent h1 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 4rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .ctaContent a {
    padding: 1rem 3.2rem;
    margin: 0 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    transition: 150ms ease-in-out;
    border: rgba(255, 255, 255, 1) 2px solid;
    white-space: nowrap;
  }
}

@media screen and (max-width: 604px) {
  .ctaContent {
    text-align: center;
    padding-top: 6vh;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  #insideLogo {
    display: flex;
    background: red;
    border-radius: 50%;
  }

  #insideLogo img {
    transform: scale(0.6, 0.6);
  }

  #ctaHeading {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
  }

  #ctaButtons {
    display: flex;
    flex-direction: row;
  }
  .header {
    height: 5rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
  }

  .header a {
    font-family: "Titillium Web", sans-serif;
    color: rgba(141, 2, 255, 0.7);
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    flex: 1;
    align-items: center;
    display: flex;
    align-self: stretch;
    text-align: center;
    justify-content: space-evenly;
    white-space: nowrap;
    padding: 10px;
    z-index: 2;
  }
  #bgImgCenter {
    display: none;
  }
  #bgImgCenter div {
    border-radius: 50%;
    background-color: white;
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
  }

  #bgImgCenter div img {
    height: 55%;
  }

  #nonCtaButton {
    display: none;
  }

  #fb {
    display: none;
  }
  #snap {
    display: none;
  }
  #twit {
    display: none;
  }
  #inst {
    display: none;
  }

  .ctaContent h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 4rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .ctaContent a {
    text-decoration: none;
    min-width: 3rem;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    transition: 150ms ease-in-out;
    border: rgba(255, 255, 255, 1) 2px solid;
    white-space: nowrap;
  }
}
